{# #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
	    <div class="row {{position}} align-self-center">
			<div class="{{css_class}}">
			   {{ content.field_shared_h1_title }}
			   {{ content.field_shared_h2_title }}
			</div>
	    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}

