{# #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
          <div class = "row justify-content-center">
              <div class="col-12">
                {{ content.field_shared_h1_title }}
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                {{ content.field_shared_p_simple_text[0] }}
              </div>
              <div class="col-12 col-sm-12 col-md-6">
                {{ content.field_shared_p_simple_text[1] }}
              </div>
              <div class="col-12">
                {{ content.field_shared_link_label }}
              </div>
          </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
