{# #}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div class = "container">
      <div{{ attributes.addClass(classes) }}>
        {% block content %}
           <div class = "row">
            <div class="col-12 col-sm-12 col-md-3">
              <h2>{{ content.field_shared_h2_title }}</h2>
              {{ content.field_shared_link_label }}
            </div>
            <div class="col-12 col-sm-12 col-md-3 bundle_partner_logo justify-content-center">
              {{ content.field_bundle_partner_logo }}
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              {{ content.field_shared_p_simple_text }}
            </div>
           </div>
        {% endblock %}
      </div>

  </div>
{% endblock paragraph %}