{%
  set classes = [
    'wrap-slide',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',

  ]
%}
{#Default Slide#}
{#<section class='{{ content.field_sustom_css_class }}'>#}
    {% block paragraph %}
        <div{{ attributes.addClass(classes) }}>
    {% block content %}
        <div class="image-wrap">
            {{ content.field_slide_image }}
        </div>
        <div class="container">
            <div class="wrap-description">
                {{ content.field_slide_description }}
                {#{{ content.field_button }}#}

            </div>
            <div class="slide-animationimage">
                {#{{ content.field_slide_animationimage }}#}
            </div>
        </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
